# Ignorar pastas privadas
artigos_referencias/
propostas_apresentacoes/
dados/docentes.csv
dados/RespostaOfertaProfessores.csv

# Ignorar arquivos temporários do sistema
*.tmp
*.log
*.bak
~$*

# Ignorar arquivos do Jupyter Notebook checkpoints
.ipynb_checkpoints/


